*{
    padding: 0px;
    margin:0px;
}

.ig{
    position: absolute;
}

.btn{
    position: absolute;
    height: 90px;
    width: 60px;
    background:rgba(0,0,0,0.5);
    color: #fff;
    text-align: center;
    line-height: 90px;
    font-size: 40px;
    top:200px;
    display: none;
}

.btn2{
   left: 700px; 
}

.igs{
   /* margin: 20%; */
}

.ul{
    list-style-type: none;
}

#tabs{
    position: absolute;
    top:400px;
    left:320px;
}

.tab{
    width: 30px;
    height: 30px;
    background-color: cadetblue;
    float: left;
    text-align: center;
    line-height: 30px;
    color: #f40;
    margin-right: 10px;
    border-radius: 100%;
}

.bg{
    background-color: rgb(139, 127, 122);
}